 body{
     padding: 0;
     margin: 0;
     background-color: #d1c9ee;
     color:#5d468a;
     font-family:'Times New Roman', Times, serif;
     font-weight: 400;
 }

 .navegador{
     background-color: #5d468a;
 }

.navegador img{
    width: 50px;
    height: 50px;
}

 .navegador a{
    color: #d1c9ee;
    font-style: 0;

 }

 .navegador a:hover{
     color: #5d468a;
     background-color: #d1c9ee;
 }

 #home{
    background-color: white;
    font-size:large;
    padding: 8rem;
 }

 #home img{
    width: 300px;
    height: 300px;
 }

 .bg-light-purple {
    background-color:#d1c9ee; /* Cor lilás */
  }
  

.features .cards{
    transition: transform 0.3s ease;
    overflow: hidden;
}

 .features .card:hover{
    transform: scale(1.2);
 }

 
/* Estilo do Card */
.book-card {
    position: relative;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    background-color: #f9f9f9;
}

.book-card:hover {
    transform: scale(1.05); /* Aumenta levemente o tamanho do card */
}

.book-card img{
    width: 400px;
    height: 200px;
}

.star-rating {
    color: #fbc02d;
    font-size: 1.2rem;
}